$fontMain: "Roboto";

$active: #3ab366;
$subActive: #252f53;

$activeHover: #33c267;
$activeVisited: #228847;

$err: #a23436;

$white: #fff;
$black: #242424;

$transition: 0.25s;

$mobile: 768px;
$aboveMobile: 769px;

$tablet: 992px;
$aboveTable: 993px;

$smDesktop: 1280px;
$aboveSmDesktop: 1281px;

$mDesktop: 1440px;
$aboveHD: 1921px;
