@use "./media" as *;
@use "./../variables" as *;

@mixin bg($color: #dfedea) {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    width: calc(100% - 40px);
    background: $color;
    border-radius: var(--br);

    @include forTablet {
        top: 0;
        left: 4px;
        width: calc(100% - 8px);
    }
}
