-
    const dataTable = [
        {
            title: "Выручка, руб",
            today: "1 200 000",
            yesterday: "1 100 000",
            weekDay: "1 000 000"
        },
        {
            title: "Наличные",
            today: "400 000",
            yesterday: "380 000",
            weekDay: "350 000"
        },
        {
            title: "Безналичный расчет",
            today: "500 000",
            yesterday: "480 000",
            weekDay: "450 000"
        },
        {
            title: "Кредитные карты",
            today: "300 000",
            yesterday: "290 000",
            weekDay: "280 000"
        },
        {
            title: "Средний чек, руб",
            today: "1 000",
            yesterday: "980",
            weekDay: "950"
        },
        {
            title: "Средний гость, руб",
            today: "1 000",
            yesterday: "980",
            weekDay: "950"
        },
        {
            title: "Удаление из чека (После оплаты), руб",
            today: "50 000",
            yesterday: "45 000",
            weekDay: "40 000"
        },
        {
            title: "Удаление из чека (До оплаты), руб",
            today: "30 000",
            yesterday: "28 000",
            weekDay: "25 000"
        },
        {
            title: "Количество чеков",
            today: "1 200",
            yesterday: "1 150",
            weekDay: "1 100"
        },
        {
            title: "Количество гостей",
            today: "1 200",
            yesterday: "1 150",
            weekDay: "1 100"
        }
    ];